header{
    background-color: #427DB6;
}

.active-content{
    background-color: #194684;
}

#dynamic-content h1,
.save,
#dynamic-content h3{
    background-color: #194684;
}

.hello{
    background-color: #427DB6;
    text-align: end;
}

@media (min-width: 992px){
    body{
        display: flex;
    }
    
    header{
        width: 35%;
        height: 100vh;
    }
    
    main{
        width: 65%;
    }
}