header{
    background-color: #427DB6;
}
main h1,
.top-bar{
    background-color: #194684;
}

.open-button{
    width: 60px;
}

.sub-title{
    max-width: 140px;
}

.slide-image-content{
    width: 100%;
}

.slide-image-content img{
    max-width: 960px;
}

.slides-list{
    display: none;
}

.audio-content audio{
    width: 90%;
}

.hide{
    display: none;
}

@media(min-width:992px){
    .slide-image-content{
        width: 80%;
    }

    .slides-list{
        display: block;
        width: 20%;
    }

    #menu-togler{
        display: none;
    }
}